{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Edit Employee</h1>
    <form method="POST" action="{{ url_for('main.edit_employee', id=form.id.data) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.employee_no.label(class="form-label") }}
            {{ form.employee_no(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.station_code.label(class="form-label") }}
            {{ form.station_code(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.family_name.label(class="form-label") }}
            {{ form.family_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.given_name.label(class="form-label") }}
            {{ form.given_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.middle_name.label(class="form-label") }}
            {{ form.middle_name(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="school_id" class="form-label">Select School</label>
            <select name="school_id" class="form-control" id="school_id">
                {% for school in schools %}
                    <option value="{{ school.id }}" {% if school.id == form.school_id.data %}selected{% endif %}>{{ school.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %} 